body {
  margin: 0 30px;
}

.linkkilista {
  float: right;
  border-left: 1px solid #666;
  padding: 6px;
  display: block;
}

.linkkilista a {
  text-decoration: none;
  color: black;
  display: block;
}

.linkkilista a:hover, .linkkilista a:focus {
  background-color: #EEDDEE;
}

header {
  margin-bottom:-30px;
  margin-top:-30px;
}

header img {
  width: 200px;
  display: block;
  margin: auto;
}

p.hehkutus {
  font-size:1em;
  font-weight: normal;
}

.pankit {
  margin: 5px auto;
  display: table;
}
.pankit img {
  width: 40px;
}

.pankit li {
  display: inline-block;
  margin: 0 5px;
}

table {
  border: none;
  background-color: #EEDDEE;
  margin: 20px;
}

.alimenu {
  position: relative;
}

.alimenu-sisalto {
  display: block;
  z-index: 1;
  position: absolute;
  min-width: 160px;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #CCC;
  background-color: #FFFFE0;
  padding: 3px 6px;
  right: 0;
  margin-right: 160px;
}

/* .kotimenu:hover .kotimenu-sisalto,
.matkailumenu:hover .matkailumenu-sisalto,
.harrastusmenu:hover .harrastusmenu.sisalto,
.lastenmenu:hover .lastenmenu-sisalto,
.lemmikkimenu:hover .lemmikkimenu-sisalto {
  display: block;
} */

.show {
  display: block;
}

.hidden {
  display: none;
}
