.linkkilista {
  list-style-type: none;
  float: right;
  border-left: 2px solid #666;
}

.linkkilista a {
  text-decoration: none;
}

header {
  margin: 0;
}

header img {
  float: left;
  height: 60;
  width: 60;
  margin: 10px;
}

header h1 {
  margin: 50px;
}

.pankit {
  margin: 10px auto;
  display: table;
}

.pankit li {
  display: inline-block;
  margin: 0 15px;
}

span {
  font-widht: bold;
  font-size: 16;
}

.kuvitus {
  height: 200;
  width: 200;
}
table {
  border: none;
  background-color: #EEDDEE;
  margin: 20px;
}

p {
  margin: 30px;
}
